.footer-content {
  display: grid;
  grid-template-columns: minmax(800px, 1fr) 400px 400px;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "footer-title footer-title footer-title"
    "enquiry-container footer-links-col-1 footer-links-col-2"
    "footer-copyright-container footer-copyright-container footer-copyright-container";
  column-gap: 50px;
  max-width: 2000px;
  justify-self: center;
  padding: 30px;
}

.footer-title {
  grid-area: footer-title;
}

.enquiry-container {
  padding: 40px 0;
  min-height: 500px;
  grid-area: enquiry-container;
  justify-self: start;
}

.footer-links-col-1 {
  padding: 40px 0;
  grid-area: footer-links-col-1;
}

.footer-links-col-2 {
  padding: 40px 0;
  grid-area: footer-links-col-2;
}

.footer-copyright-container {
  grid-area: footer-copyright-container;
}
