.for-students{
    background-color: transparent;
    padding: 20px;
    color: white;
    text-align: left;
    padding: 50px;
  }
  
  .for-students .content-text {
    color: #e2e8f0;
  }
  
  .content {
    padding: 100px 10px;
  }
  